/*
	Theme Name: Vanillia
	Theme URL: http://newwpthemes.com/wordpress-theme/praven/
	Description: Vanillia is a free WordPress theme with featured posts option. Suitable for any niche. Theme Options at admin panel
	Author: NewWpThemes.com
	Author URI: http://newwpthemes.com/
	Version: 1.0 
	Tags: Elegant, Ads Ready, Three Columns, Right Sidebar, Fixed Width, Blogging, Options Page
*/


/* LAYOUT */

body {
	background:url(images/background.png);
	}

#wrapper {
	background:url(images/wrap-background.gif) top left repeat-x;
	}

#container {
    background: #fff url(images/container-background.png) top left repeat-x;
	}

#contentwrap {
	}

a {
	color: #af1531;
	}

a:hover {
	color: #ff012f;
	}
/* HEADER */

#header {
	height: 112px;
    padding-top: 25px;
	}

#header h1 {
	margin-bottom: 0px !important;
	padding: 12px 0 0 15px;
	font-weight: normal;
	font-family: Georgia, Times New Roman Times, Serif;
    text-shadow: 0 2px 0 #8f0d25;
	font-weight: bold;
	font-size: 48px;
	}

#header h1 a, #header h1 a:visited {
	color: #fff;
	text-decoration: none;
	}


#header h2 {
	padding-left: 15px;
	color: #edc0c9;
	font-size: 14px;
    font-family: Times New Roman, Times, Serif;
	}

.logoimg {
    margin: 5px 0 0 15px;
}

/* NAVIGATION MENUS *//* WTthemepack */

    
#pagemenucontainer {
	height: 33px;
	margin-top: 22px;
    padding-left: 15px;
	}
	
#pagemenu {
	height: 30px;
	}

#pagemenu, #pagemenu ul { 
	padding: 0;
	margin: 0;
	list-style: none;
	line-height: 1;
	}
#pagemenu {
	margin-bottom: 1px;
	}
	
#pagemenu ul {
	float: left;
	list-style: none;
	margin: 0px 0px 0px 0px;
	padding: 0px
	}
	
#pagemenu li {
	float: left;
	list-style: none;
	margin: 0px;
    padding: 0px 6px 0 0px;
    background: url(images/pagenav-separator.gif) left center no-repeat;
	}
	
#pagemenu ul li {
	list-style: none;
	margin: 0px;
	padding: 0;
    
	}
	
#pagemenu li a, #pagemenu li a:link {
	color: #7f7f7e;
	display: block;
    margin: 0;
	padding: 6px 12px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 11px;
    font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0 1px 0 #2d2d2d;
	}
	
#pagemenu li a:hover, #pagemenu li a:active{
	color: #fff;
	display: block;
	text-decoration: none;
	}
	
#pagemenu  li.current_page_item a {
	color:#fff;
	}

#pagemenu li:hover, #pagemenu li.sfhover { 
	position: static;
	}

    
    
    
.navcontainer {
	height: 36px;
    background: url(images/nav-background.png) top left repeat-x;
    padding: 0 8px;
	}
	
#nav {
	height: 30px;
	}

#nav, #nav ul { 
	padding: 0;
	margin: 0;
	list-style: none;
	line-height: 1;
	}
#nav {
	margin-bottom: 1px;
	}
	
#nav ul {
	float: left;
	list-style: none;
	margin: 0px 0px 0px 0px;
	padding: 0px;
	}
	
#nav li {
	float: left;
	list-style: none;
	margin: 0px;
	padding: 0px;
	}
	
#nav ul li {
	list-style: none;
	margin: 0px;
	padding: 0px;
	}
	
#nav li a, #nav li a:link {
	color: #fff;
	display: block;
    margin: 0px 3px 0px 3px;
	padding: 12px 13px 12px 13px;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
    text-shadow: 0 1px 0 #962338;
	}
	
#nav li a:hover, #nav li a:active {
	color: #fff;
	display: block;
	text-decoration: none;
    background: url(images/nav-background-hover.png) top left repeat-x;
    text-shadow: 0 1px 0 #242422;
	}
	
#nav  li.current-cat a {
	color:#fff;
    background: url(images/nav-background-hover.png) top left repeat-x;
    text-shadow: 0 1px 0 #242422;
	}

#nav li:hover, #nav li.sfhover { 
	position: static;
	}
	
/* CONTENT */

#content {
	background-color: #fff;
	padding: 15px 5px 15px 5px;
	}
	
pre { overflow: auto; 
	width: 470px; 
	}

.post {
	padding-bottom: 15px;
	margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
	}

.post p {
	margin-bottom: 10px;
	}

.title {
	margin: 0 0 8px 0;
	padding: 0px;
	line-height: 22px;
	font-family: Georgia, Times New Roman Times, Serif;
    font-weight: bold;
	color: #33322f;
	}

	
.title a {
	text-decoration: none;
	color: #33322f;
	}

.title a:hover {
	text-decoration: none;
	color: #b00d2b;
	}

.pagetitle {
	margin-bottom: 20px;
	line-height: 22px;
	font-family: Arial, Helvetica, Sans-serif;
	text-decoration: underline;
}

.postdate {
	font-size: 11px;
	padding: 2px 0px;
	font-family: Arial, Verdana;
	color: #5b5b5b;
	}


.postmeta {
	font-size: 11px;
	padding: 2px 4px;
	font-family: Arial, Verdana;
	}
	
.postdate img, .postmeta img {
	border: none;
	vertical-align: middle;
	margin:2px;
	}
	
.entry {
	text-align: justify;
	line-height: 20px;
	padding-top: 8px;
	font-family: Arial, Verdana;
	font-size: 14px;
	}
.navigation {
	padding: 10px 0;
	}

blockquote {
	overflow: hidden;
	padding-left: 9px;
	font-style: italic;
	color: #666;
	border-left: 3px solid #CADAE7;
	}
	
.post img {
	max-width: 680px;
	}

img.wp-smiley {
	max-height: 12px;
	margin: 0;
	padding: 0;
	border: none;
	}
	
.aligncenter,
div.aligncenter {
   display: block;
   margin-left: auto;
   margin-right: auto;
	}

.alignleft {
   float: left;
	}

.alignright {
   float: right;
	}

.wp-caption {
   border: 1px solid #ddd;
   text-align: center;
   background-color: #f3f3f3;
   padding-top: 4px;
   margin: 10px;
   /* optional rounded corners for browsers that support it */
   -moz-border-radius: 3px;
   -khtml-border-radius: 3px;
   -webkit-border-radius: 3px;
   border-radius: 3px;
	}

.wp-caption img {
   margin: 0;
   padding: 0;
   border: 0 none;
	}

.wp-caption p.wp-caption-text {
   font-size: 11px;
   line-height: 17px;
   padding: 0 4px 5px;
   margin: 0;
	}
	
/* wp-pagenavi */
.wp-pagenavi a, .wp-pagenavi a:link, .wp-pagenavi a:active {
    color: #686868 !important;
    background:#dfdfdf !important;
    border: 1px solid #989898 !important;
    font-size: 15px !important;
    padding:  4px 8px !important;
}

.wp-pagenavi span.current {
    color: #434343 !important;
    background:#fff !important;
    border: 1px solid #b6b5b5 !important;
    font-size: 15px !important;
    padding:  4px 8px !important;
    font-weight: bold;
}

.wp-pagenavi a:hover {
    color: #494949 !important;
    background:#dfdfdf !important;
    border: 1px solid #626262 !important;
    
}

.wp-pagenavi span.pages {
    color: #676767 !important;
    background:#fff !important;
    border: 1px solid #b6b5b5 !important;
    font-size: 15px !important;
    padding:  4px 8px !important;
}

.wp-pagenavi span.extend {
    background:transparent !important;
    font-size: 15px !important;
    padding:  4px 8px !important;
    color: #676767 !important;
    background:#fff !important;
    border: 1px solid #b6b5b5 !important;
    font-weight: bold;
}

/* SIDEBAR(S) */

.sidebaradbox {
	margin-top: 5px; 
	text-align:center;
	}
	
.ad125 {
	margin: 10px;
	}


.sidebar {
	margin: 0 0 10px 0;
	}
	
.sidebar-right {
    margin: 0 10px 0 0;
	}
	
.sidebar-left {
    margin: 0 0 0 10px
	}
    
    
.sidebar a {
	text-decoration: none;
	color: #868582;
	}

.sidebar a:hover {
	text-decoration: underline;
	color:#af1632;
	}


#search {
    border: 1px solid #4f4e4d;
    height: 30px;
    padding: 0;
    background: #424140;
    text-align: right;
}

#search input {
	border: 0;
    background: none;
    color: #a0a09f;
}
	
	
#s {
	width: 206px;
	padding: 4px;
    margin:3px 0 0 0;
    background: none;
}

#topsearch #search {
    margin: 18px 6px 0 0;
    }
    
#topsearch #s {
    width: 138px;
    }

.sidebar h2 {
	margin: 10px 0 0 0;
	padding: 8px 0 8px 28px;
	background: url(images/sidebar-tab.png) top left no-repeat;
	font-size: 14px;
	font-family: Arial, Helvetica, Sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
    text-shadow: 0 1px 0 #7d0b20;
	}

.sidebar ul {
	list-style-type: none;
	margin: 0px 0px 10px 0px;
	padding: 0px;
	}
	
.sidebar ul li {
	list-style-type: none;
	margin: 0px 0px 5px 0px;
	padding: 0px;
	}

.sidebar ul ul {
	list-style-type: none;
	margin: 0px;
	padding: 0;
	}
	
.sidebar ul li li {
	padding: 3px 0px 4px 18px;
	margin: 0px;
	background: url(images/bullet.gif) no-repeat top left;
	}
	
.sidebar ul li ul li {
	background: url(images/bullet.gif) no-repeat top left;
    border-bottom: 1px dashed #d8d8d8;
	padding: 2px 0px 4px 18px;
	margin: 2px 0;
	}

.sidebar #tag_cloud div {
    padding:  0 10px;
    }

.rssbox {
	background: #dedede;
	border: 1px solid #bebebd;
	padding: 10px;
	margin: 10px 10px 0 10px;
	}
    
.rssbox:hover {
    border-color: #9d9d9d;
    }

.rssbox a {
	color: #6d6d6c;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	}
.rssbox a:hover {
	color: #6d6d6c; 
	text-decoration: underline;
	}

.twitterbox {
	background: #dedede;
	border: 1px solid #bebebd;
	padding: 10px;
	margin: 10px 10px 0 10px;
	}
	
.twitterbox:hover {
    border-color: #9d9d9d;
    }
    
.twitterbox a {
	color: #6d6d6c;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	}
.twitterbox a:hover {
	color: #6d6d6c; 
	text-decoration: underline;
	}
    
#wp-calendar {
    padding-left: 5px;
    }

#wp-calendar th {
	font-style: normal;
	text-transform: capitalize;
	color: #555;
	background: none;
	}
#wp-calendar caption {
	padding: 2px 4px;
	text-transform: uppercase;	margin: 2px 0 2px 0;
	background: none;
    color: #555;
	}

#wp-calendar td {
	color: #555;
	font: normal 12px 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	letter-spacing: normal;
	padding: 2px 0;
	text-align: center;
	}

#wp-calendar td:hover, #wp-calendar #today {
	background: #ddd;
	color: #555;
	}
	
#wp-calendar {
	empty-cells: show;
	font-size: 14px;
	margin: 0;
	font-weight: bold; 
	width: 95%;
	}


/* FOOTER */

#footer {
	background:  url(images/footer-background.png) top left repeat-x;
	padding: 22px;
	text-align: center;
	color: #fff;
	font-size: 13px;
    border-top: 8px solid #fff;
	}

#footer a {
	color: #fff;
	} 

#footer a:hover {
	text-decoration: none;
	} 
	
#footer2 {
	color: #a2a2a2;
	font-size: 11px;
	text-align: center;
	padding: 10px;
    background: #464542;
	}
    	
#footer2 a {
	color: #a2a2a2;
    text-decoration: none;
	} 
	
/* COMMENTS */

#comments h3 {
	margin-bottom: 10px;	
}

#commentform input {
	width: 170px;
	padding: 2px;
	margin: 5px 5px 1px 0;
	}

#commentform {
	margin: 5px 10px 0 0;
	}
	
#commentform textarea {
	width: 100%;
	padding: 2px;
	}
	
#respond:after {
		content: "."; 
	    display: block; 
	    height: 0; 
	    clear: both; 
	    visibility: hidden;
	}
	
#commentform #submit {
	margin: 0 0 5px auto;
	float: right;
	}

.alt {
	margin: 0;
	padding: 10px;
	}

.commentlist {
	padding: 0;
	text-align: justify;
	}

.commentlist li {
	margin: 15px 0 10px;
	padding: 5px 5px 10px 10px;
	list-style: none;

	}
	
.commentlist li ul li { 
	margin-right: -5px;
	margin-left: 10px;
}

.commentlist p {
	margin: 10px 5px 10px 0;
}
.children { padding: 0; }

#commentform p {
	margin: 5px 0;
	}

.nocomments {
	text-align: center;
	margin: 0;
	padding: 0;
	}

.commentmetadata {
	margin: 0;
	display: block;
	}
	
.post_thumbnail {
    padding: 6px;
    background: #eee;
    border: 1px solid #ddd;
    margin: 0 10px 10px 0;
}